<h1 mat-dialog-title>Error</h1>
<div mat-dialog-content>
    <p>{{data.message}}</p>
</div>
<div mat-dialog-actions class="justify-rigth">
    <button class="align-button-right" mat-button (click)="onNoClick()" color="primary">Cerrar</button>
</div>