<div *ngIf="isLoading" class="spinner">
    <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="container" [ngClass]="{isLoading: isLoading}">
    <mat-card class="full-height">
        <mat-card-header>
            <mat-card-title>
                <h3 class="title">¡Bienvenido a la transparencia!</h3>
            </mat-card-title>
            <mat-card-subtitle>
                <p>Este sitio te mostrará cuánto dinero has cotizado al sistema de las <b>AFP</b>,
                    y lo haremos leyendo tu <b>Certificado de Cotizaciones Históricas</b>, y adicional a esto, si
                    proporcionas el saldo actual de tu <b>Cuenta Obligatoria</b>, te mostraremos cuánto has
                    rentabilizado a lo largo del tiempo</p>
                <p>Es importante que sepas que <b>NO ALMACENAMOS DATOS PERSONALES</b>, ni tu Certificado de Cotizaciones,
                    ni cualquier otra información que afecte tu privacidad financiera</p>
                <p>El cálculo relacionado a la rentabilidad está enfocado a quienes aún <b>no están pensionados</b>,
                    pues su saldo actual estará afectado por los retiros mensuales</p>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-vertical-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="stepperFormGroup">
                    <ng-template matStepLabel>Datos de tu AFP</ng-template>
                    <form [formGroup]="formGroup" (ngSubmit)="submit()">
                        <p>
                            <mat-label>Certificado de Cotizaciones Histórico *</mat-label>
                        </p>
                        <p>
                            <mat-file-upload [labelText]="''" [selectButtonText]="'Selecciona el archivo'"
                                [selectFilesButtonType]="'button'" [allowMultipleFiles]="false"
                                [showUploadButton]="false" [acceptedTypes]="'.pdf'"
                                (selectedFilesChanged)="onSelectedFilesChanged($event)">
                            </mat-file-upload>
                        </p>
                        <p>
                            <mat-form-field class="full-width">
                                <mat-label>Seleccione su AFP</mat-label>
                                <mat-select formControlName="afp" required>
                                    <mat-option value="Habitat">AFP Habitat</mat-option>
                                    <mat-option value="Capital">AFP Capital</mat-option>
                                    <mat-option value="Cuprum">AFP Cuprum</mat-option>
                                    <mat-option value="Modelo">AFP Modelo</mat-option>
                                    <mat-option value="Planvital" disabled>AFP Planvital (Proximamente)</mat-option>
                                    <mat-option value="Provida">AFP Provida</mat-option>
                                    <mat-option value="Uno" disabled>AFP UNO (Proximamente)</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="full-width">
                                <mat-label>Saldo actual de su cuenta</mat-label>
                                <input formControlName="saldo" matInput type="number">
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field class="full-width">
                                <mat-label>Monto retirado por COVID</mat-label>
                                <input formControlName="retiroCOVID" matInput type="number">
                            </mat-form-field>
                        </p>
                        <button type="button" mat-button (click)="reset()">Borrar todo</button>
                        <button type="submit" [disabled]="formGroup.invalid" mat-button>Calcular</button>
                        <button #continue type="button" style="display: none;" matStepperNext>Continue</button>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Listo</ng-template>
                    <p class="results">Estos son tus resultados: </p>
                    <div *ngIf="stepperFormGroup.get('resultsReady').value" class="content-result">
                        <div class="property">
                            <p class="value">
                                <span class="span-toleft">Cotizaciones:</span>
                                <span
                                    class="span-toright">{{responseData && responseData.sumaCotizaciones | currency : 'USD' : 'symbol' : '1.0-0'}}</span>
                            </p>
                            <p class="value">
                                <span class="span-toleft">Cotizaciones (con factor IPC):</span>
                                <span
                                    class="span-toright">{{responseData && responseData.sumaCotizacionesIPC | currency : 'USD' : 'symbol' : '1.0-0'}}</span>
                            </p>
                            <p class="value" *ngIf="showRentabilidad">
                                <span class="span-toleft">Rentabilidad:</span>
                                <span class="span-toright"
                                    *ngIf="responseData && responseData.rentabilidad !== 'Saldo no informado'">{{responseData && responseData.rentabilidad | currency : 'USD' : 'symbol' : '1.0-0'}}</span>
                                <span class="span-toright"
                                    *ngIf="responseData && responseData.rentabilidad === 'Saldo no informado'">{{responseData && responseData.rentabilidad}}</span>
                            </p>
                            <p class="value" *ngIf="showRentabilidad">
                                <span class="span-toleft">Rentabilidad (con factor IPC):</span>
                                <span class="span-toright"
                                    *ngIf="responseData && responseData.rentabilidadIPC !== 'Saldo no informado'">{{responseData && responseData.rentabilidadIPC | currency : 'USD' : 'symbol' : '1.0-0'}}</span>
                                <span class="span-toright"
                                    *ngIf="responseData && responseData.rentabilidadIPC === 'Saldo no informado'">{{responseData && responseData.rentabilidadIPC}}</span>
                            </p>
                            <p class="value" *ngIf="showRentabilidad">
                                <span class="span-toleft">Porcentaje de Rentabilidad:</span>
                                <span class="span-toright">{{responseData && responseData.porcentaje}}</span>
                            </p>
                            <p class="value" *ngIf="showRentabilidad">
                                <span class="span-toleft">Porcentaje de Rentabilidad (Con factor IPC):</span>
                                <span class="span-toright">{{responseData && responseData.porcentajeIPC}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="footer">
                        <button mat-stroked-button color="primary" mat-button (click)="stepper.reset()">Comenzar de
                            nuevo</button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </mat-card-content>
    </mat-card>
</div>
<script *ngIf="isLoading"></script>