.full-width {
  width: 100%;
}

.spinner {
  position: absolute;
  z-index: 1;
  left: calc(50% - 50px);
  top: 300px;
}

.container {
  position: relative;
  width: 600px;
  left: calc(50% - 300px);
}

.isLoading {
  animation: opacity 0.4s ease forwards;
}

.title {
  color: #9869e8;
}

.results {
  color: #697ae8;
}

.full-height {
  height: auto;
}

.property {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.value {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span-toleft {
  width: 60%;
}

.span-toright {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.content-result {
  display: flex;
  flex-direction: row;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 640px) {
  .spinner {
    position: absolute;
    z-index: 1;
    left: calc(50% - 50px);
    top: 200px;
  }

  .container {
    position: relative;
    width: 100%;
    left: 0;
    height: 100%;
  }

  .full-height {
    height: 100%;
  }
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
